button {
  cursor: pointer;
}
.Lists_movies {
  width: 0px;
  /* padding-top: 1px; */
  color: rgb(0, 0, 0);
  left: 0;
}
.Lists_movies:hover {
  color: red;
}
/* .botom{
  display: flex;
  position: fixed;
  z-index: 999999999999999999;
  bottom: 0;
  right: 0;
  width: 300px;
} */
.O{
  position: fixed;
  padding-bottom: 20px;
  font-size: 50px;
  bottom: 20px;
  right: 0;
  width: 300px;
}