.pagination{
    display: flex;
    margin-right: 25%;
    list-style: none;
    padding-top: 2%;
    margin-bottom: 6%;
    cursor: pointer;

    justify-content: center;
}

a{
    margin-right: 50px;
}
.page-item{
    margin-right: 50px;
}
.page-item:active{
    color: red;
}