.img_slidehow{
    object-fit: cover;
    width: 81em;
    height: 450px;
}
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    border-radius: 20px;
}
/* .swiper-button-prev{
    margin-left: 10%;
}
.swiper-button-next{
    margin-right: 10%;
}
.swiper-horizontal.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    margin-left: 10% ;
    margin-right: 10%;
} */