.similar-container {
    position: absolute;
    right: 6%;
    top: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
  }
  
  .button_cast {
    margin-bottom: 10px;
  }
  
  .actor-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actor-button img {
    object-fit: cover;
    width: 100px;
    height: 150px;
  }
  
  .actor-button span {
    margin-top: 5px;
  }
  