.Body{
    padding-top: 10%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}


    @media (max-width: 1280px) {
        .Body {
            width: 78%;
            margin-left: 20px;
            margin-right: 90px;
        }
    }